body {
  background: white;
}
h1,
h2 {
  display: flex;
  justify-content: center;
}
.scoreBoard {
  text-align: center;
  border: 3px solid black;
  position: relative;
  font-size: 30px;
  color: blue;
  max-width: 100%;
  margin-left: 50px;
  margin-right: 50px;
}
.userLabel {
  position: absolute;
  top: 0px;
  left: 0;
}
.compLabel {
  position: absolute;
  top: 0;
  right: 0;
}
.button {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 40px;

  justify-content: center;
}

#result {
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: green;
}
.reset {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.resetBtn {
  display: block;
  width: 20%;
  border: none;
  background-color: white;
  padding: 14px 28px;
  font-size: 24px;
  color: blue;
  border: 3px solid black;
  cursor: pointer;
  text-align: center;
}

#r,
#p,
#s {
  font-size: 30px;
  width: 200px;
  height: 50px;
  background-color: white;
  border: 3px solid black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#r {
  color: #5a4d41;
}
#p {
  color: #99cccc;
}
#s {
  color: #8b0000;
}
